{%extends "base.html"%}
{%block body%}

<div class="row" style="top-margin:50px;">


<div class="col-md-4" style="top-margin:50px;">


<div class="card" style="width: 18rem;top-margin:50px;">
  
  <div class="card-body">
   <a href="/uni/girls"> <img class="card-img-top" <img src={{url_for('static', filename='images/girl.jpg')}}   alt="Card image cap" style="height:400px">

    <h2>GIRLS</h2>
    </a></div>
</div>
</div>


<div class="col-md-4">


<div class="card" style="width: 18rem;top-margin:50px;">
 
  



      <div class="card-body" style="align:center" >
   <a href="/uni/boys"> <img class="card-img-top" <img src={{url_for('static', filename='images/boy.jpg')}}   alt="Card image cap" style="height:400px">


    <h2 style="align:center">BOYS</h2>
    </a>
  </div>
</div>
</div>




<div class="col-md-4" style="top-margin:50px;">


<div class="card" style="width: 18rem;top-margin:50px;">
  <div class="card-body">


<a href="/unia"> <img class="card-img-top" <img src={{url_for('static', filename='images/accc.jpg')}}   alt="Card image cap" style="height:400px">


    <h2 style="align:center">ACCESSORIES</h2>
    </a>







    
  </div>
</div>
</div>






</div>


{%endblock%}
